DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432

PGADMIN_EMAIL=admin@dev.local
PGADMIN_PASSWORD=adminpassword

BACKEND_PORT=3000
JWT_SECRET=5-&*$fRca}1}v8_=R=aS&_g_iNSyj(%wqSDFHBVizyy
JWT_EXPIRES_IN=1h

VITE_API_URL=http://localhost:3000
