PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=logichain
DB_USER=postgres
DB_PASSWORD=postgres


ADMIN_EMAIL=admin@logichain.it
ADMIN_PASSWORD=Admin123!
ADMIN_NOME=Admin
ADMIN_COGNOME=LogiChain


DATABASE_URL=postgres://postgres:postgres@localhost:5432/logichain

JWT_SECRET=qualcosa_di_lungo_e_segreto
JWT_EXPIRES_IN=1h

NODE_ENV=development